@import "tailwindcss";

/* Default colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Body default font */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Sacramento font class */
.font-sacramento {
  font-family: 'Sacramento', cursive;
  color: white;
}